<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<h1>All Campgrounds</h1>
<% for (let camp of campgrounds) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(camp.images.length) {%>
      <img class="img-fluid" alt="" src="<%= camp.images[0].url %>">
      <% }else{ %>
      <img alt="" class="img-fluid" src="https://res.cloudinary.com/dbapxhh4h/image/upload/v1644980771/YlansYelpCamp/default_up4e8i.jpg">
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= camp.location %></small>
        </p>
        <p class="card-text">Price: <%= camp.price %>/night </p>
        <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">
          [VIEW] <%= camp.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const mbxMapToken = '<%= process.env.MAPBOX_TOKEN %>';
  const campsites = {
    features: <%- JSON.stringify(campgrounds) %>
  };

  const now = new Date();
  let hours = now.getHours();
  const mapStyle = (hours >= 18 || hours < 6) ? 'dark-v10' : 'light-v10'
</script>
<script src="/js/clusterMap.js"></script>